include index-slider

mixin projects

  -
    var projects = [
      'Банковская сфера',
      'Нефтегазовая сфера',
      'IT, связь и телекоммуникации',
      'Культурно-массовые мероприятия',
      'ЖКХ',
      'Промышленность',
      'Строительный сектор'
    ]

  .center.wrapper
    h3.h3&attributes(attributes) Реализованные проекты
    p.
      Компания «ГенМастер» успешно реализовала уже сотни проектов. В числе наших<br>
      заказчиков множество известных компаний.
    p.
      ДГУ и ГПУ для бесперебойного электроснабжения<br>
      во всех сферах бизнеса от 200 000 рублей!
    br
    h3.h3.blue.no-bold Наши проекты по отраслям:
    .projects
      each item in projects
        a(href="#").projects__item= item
  +index-slider
