-
  var footerMenu = [
    {
      name: 'Оборудование',
      sub: [
        'Электростанции (дизельные генераторы)',
        'Запчасти к генераторам',
        'ИБП и стабилизаторы',
        'Мини-ТЭС'
      ]
    },
    {
      name: 'Аренда',
      sub: [
        'Электростанции (дизельные генераторы)',
        '?'
      ]
    },
    {
      name: 'Сервис',
      sub: [
        'Монтаж и пусконаладочные работы',
        'Сервисное обслуживание'
      ]
    },
    {
      name: 'Проекты',
      sub: [
        'Дизельные генераторы в банковской сфере',
        'Дизельные генераторы в ЖКХ',
        'Дизельные генераторы в нефтегазовой сфере',
        'Дизельные генераторы в промышленности',
        'Дизельные генераторы в IT, связи, телекоммуникации',
        'Дизельные генераторы в строительстве',
        'Культурно-массовые мероприятия'
      ]
    },
    {
      name: 'О компании',
      sub: [
        'Новости',
        'Акции',
        'Разрешения и сертификаты',
        'Гарантии',
        'Доставка и оплата',
        'У вас тендер?',
        'Статьи',
        'Вакансии'
      ]
    },
    {
      name: 'Контакты',
      sub: []
    }
  ]

footer.footer
  .footer-top
    .wrapper
      .footer-row
        .footer-row__name Контакты
        .footer-row__desc
          p.
            Email: <a href="#">info@genmaster.ru</a><br>
            Телефон/факс: +7 (495) 545-45-80<br>
            Бесплатно по РФ: +7 (800) 500-40-99<br>
            Часы работы офиса: с 09:00 до 18:00
      .footer-row
        .footer-row__name Наши адреса
        .footer-row__desc
          p.
            Офис/Переговорная:<br>
            Москва, Ракетный бул. 16, БЦ “Алексеевская башня”
          p.
            Офис / Cклад / Юридический /<br>
            Почтовый адрес:<br>
            Московская область, Ивантеевка, Фабричный проезд, д.1
      .footer-row
        .footer-row__name Мы в социальных сетях
        .footer-row__desc
          a(href="#").social.youtube
          a(href="#").social.vk
          a(href="#").social.fb
          a(href="#").social.insta
  .footer-middle
    .wrapper
      .footer-menu
        each item in footerMenu
          .footer-menu-item
            a(href="#").footer-menu__name= item.name
            each subItem in item.sub
              a(href="#").footer-menu__sub= subItem
  .footer-bottom © 2010-2017 genmaster.ru
