.header-top
  .wrapper
    .header-top-left
      input(type="text").header-search__input
      button(type="button").header-search__button
    .header-top-right
      .header-phone 8 800 5004099
      .header-phone +7 495 5454580
      button(type="button").header-phone__button Заказать звонок
