.wrapper
  a(href="#").header__logo Ваш спутник в мире энергетики
  nav.menu
    ul
      li
        a(href="#") Оборудование
      li
        a(href="#") Аренда
      li
        a(href="#") Сервис
      li
        a(href="#") Проекты
      li
        span О компании
      li
        a(href="#") Контакты
