-
  var sidebar = [
    'Подбор газового генератора',
    'Газопоршневые установки в машинном зале',
    'Газопоршневые установки в контейнерах',
    'Газопоршневые установки в кожухах',
    'Когенарационные Мини-ТЭС',
    'Тригенерационные Мини-ТЭС'
  ]

nav.sidebar
  each item in sidebar
    a(href="#").link=item
