extends layout

block content

  include mixins/header
  include mixins/breadcrumbs
  include mixins/form-find
  include mixins/projects
  include mixins/table

  +header(false)

  main.main
    .detail
      .wrapper
        +breadcrumbs('Главная', 'Оборудование')
        h1.h1.blue Дизельные генераторы (Электростанции)
        .wrapper-detail
          p.
            Компания «ГенМастер» осуществляет продажу электростанций ведущих мировых
            производителей: <a href="#">FG Wilson</a>, <a href="#">Cummins</a>,
            <a href="#">Geko</a>, <a href="#">SDMO</a>, <a href="#">Caterpillar</a>,
            <a href="#">AtlasCopco</a>, <a href="#">IVECO</a> и др.
          p.
            В нашем каталоге представлено более 1000 моделей дизельных электростанций
            различной мощности: от 10 до 2500 кВт, среди которых вы всегда сможете
            выбрать и купить электростанцию для ваших целей!
      .blue-block
        form(action="#").form.wrapper
          .form-col
            +form-find('Производители генератора', 2)
          .form-col
            +form-find('Двигатель', 3)
          .form-col
            .form__label Активная мощность, кВт
            .form-range
              .form-control.small
                input(type="text", value="1000", id="target-1").form-control__input
              .delimiter —
              .form-control.small
                input(type="text", value="5000", id="target-2").form-control__input
              .form-range-item.js-range(data-target-1="#target-1", data-target-2="#target-2",
              data-min="0", data-max="5000", data-step="10")
            p Число фаз
            .form-control.clear
              input(type="radio", name="radio", id="radio-1").form-control__radio
              label(for="radio-1").form-control__label Любое
            .form-control.clear
              input(type="radio", name="radio", id="radio-2").form-control__radio
              label(for="radio-2").form-control__label 1
            .form-control.clear
              input(type="radio", name="radio", id="radio-3", checked).form-control__radio
              label(for="radio-3").form-control__label 3
            br
            .center
              button(type="button").button.easy.mar-bottom Очистить параметры
              button(type="button").button.white.full Подобрать
      .wrapper.block
        +table(2)
        .center
          // добавить атрибут disabled на время выполнения ajax-запроса
          // (появится лоадер)
          button(type="button").button.load Показать ещё
      .wrapper
        h3.h3.center.gray Продажа дизельных генераторов (электростанций)
        .two
          .col.min
            a(href="#").link Сервисное обслуживание
          .col
            p.
              Дизельные электростанции выступают как в качестве основного источника
              электроэнергии, так и в качестве резервного или вспомогательного не только
              в промышленности, но и в строительстве, частном секторе и многих других
              сферах. Они используются в больницах, аэропортах, узлах связи и множестве
              других мест.
            h3.h3.center.no-bold.blue Комплекс услуг
            p.
              «ГенМастер» занимается не только продажей электростанций! Наши специалисты
              оказывают полный комплекс услуг по продаже электростанций «под ключ»,
              осуществляя их доставку, монтаж и техническое обслуживание!
            p.
              При покупке дизельной электростанции у нас, Вы получаете весь комплекс услуг
              «под ключ». Осуществив поставку, монтаж и ввод в эксплуатацию дизельной
              электростанции, специалисты «ГенМастер» проведут бесплатное обучение.
              На территории вашего предприятия мы обучим ваш персонал правилам безопасной
              эксплуатации дизельных электростанций.
            h3.h3.center.no-bold.blue Опции дизельных электростанций
            p
              b Автомат ввода резерва (АВР)
              br
              | Используется для автоматического включения резервного питания в случае пропадания
              | напряжения от основного источника питания.
            p
              b Зарядное устройство
              br
              | ​Подзаряжает аккумуляторные батареи ДГУ от постоянной электросети для
              | поддержания надежности запуска.
            p
              b Подогрев обмоток генератора
              br
              | Используется при эксплуатации в условиях низких температур или высокой
              | влажности воздуха. Помогает предотвратить образование конденсата и коррозии
              | на токопроводящих деталях.
            p
              b Подогреватель охлаждающей жидкости
              br
              | Предназначен для запуска дизельных электростанций и силовых установок при
              | температуре ниже -10°С. Подогреватель работает независимо от двигателя.
              | электростанции должны заниматься квалифицированные специалисты. В
              | остальных аспектах газовые установки в приоритете.
            p
              b Подогрев картера двигателя
              br
              | Предназначен для предотвращения повышения вязкости моторного масла в
              | сильные морозы.
            p
              b Панель управления ДГУ
              br
              | Предназначена для осуществления запуска и наблюдения за ДГУ. Предоставляет
              | актуальные сведения об эксплуатации станций. Помогает сократить затраты на
              | обслуживающий персонал.
            p
              b Насосы для залива топлива и слива масла
              br
              | Предназначены для откачки масла при проведении технического обслуживания
              | электростанции или заправке электростанции топливом.
            p
              b Топливные сепараторы
              br
              | Используются для фильтрации топлива, очищения от водных фракций и других
              | примесей.
      +projects(class="gray")
