extends layout

block content

  include mixins/header
  include mixins/breadcrumbs
  include mixins/table

  +header(false)

  main.main
    .detail
      .wrapper
        +breadcrumbs('Главная', 'Оборудование', 'Дизельные генераторы (электростанции)')
        h1.h1.blue Дизельный генератор FG Wilson P14-6S
        .product
          .product-left
            .product__img(style="background-image: url('images/product.png')")
            .product-control
              .product-control-desc Цена по запросу
              button(type="button", data-target="#order").button.js-popup Заказать КП
              #order.display-none
                form(action="#").form.form-blue.popup
                  i.close
                  h3.h3.blue.no-bold.center Заказать коммерческое предложение FG Wilson P14-6S
                  .popup-aside
                    p Тип исполнения
                    .form-control.clear
                      input(type="radio", name="radio", id="radio-1").form-control__radio
                      label(for="radio-1").form-control__label Открытое
                    .form-control.clear
                      input(type="radio", name="radio", id="radio-2").form-control__radio
                      label(for="radio-2").form-control__label В кожухе
                    .form-control.clear
                      input(type="radio", name="radio", id="radio-3").form-control__radio
                      label(for="radio-3").form-control__label На шасси
                    .form-control.clear
                      input(type="radio", name="radio", id="radio-4", checked).form-control__radio
                      label(for="radio-4").form-control__label В контейнере
                  .popup-line
                    .popup-left
                      label(for="input-01").form__label ФИО<span class="req">*</span>
                    .form-control
                      input(type="text", id="input-01").form-control__input
                  .popup-line
                    .popup-left
                      label(for="input-02").form__label Компания
                    .form-control
                      input(type="text", id="input-02").form-control__input
                  .popup-line
                    .popup-left
                      label(for="input-03").form__label Телефон<span class="req">*</span>
                    .form-control
                      input(type="text", id="input-03").form-control__input
                  .popup-line
                    .popup-left
                      label(for="input-04").form__label E-mail
                    .form-control
                      input(type="text", id="input-04").form-control__input
                  .popup-line
                    .popup-left
                      label(for="input-05").form__label Город
                    .form-control
                      input(type="text", id="input-05").form-control__input
                  .popup-line
                    .popup-left
                    img(src="images/captcha.png")
                  .popup-line
                    .popup-left
                      label(for="input-06").form__label Повторите символы<span class="req">*</span>
                    .form-control
                      input(type="text", id="input-06").form-control__input
                  .popup-line
                    .popup-left
                    .form-control.clear
                      input(type="checkbox", id="input-07", checked).form-control__check
                      label(for="input-07").form-control__label
                        | Подтверждаю согласие на обработку персональных данных
                  .popup-line
                    .popup-left
                    p <span class="req">*</span> — поля, обязательные для заполнения
                  .popup-line
                    .popup-left
                    button(type="submit").button.white Отправить
            p.gray.
              Приняв решение <a href="#">купить дизельный генератор</a>
              в компании «Генмастер», вы можете быть уверены
              в адекватности цены. Стоимость будет включать
              не только поставку оборудования, но и пусконаладку, гарантийное сервисное обслуживание.<br>
              Если оборудование нужно на непродолжительный срок, у нас вы можете
              <a href="#">арендовать дизельный генератор</a>.
            .social-block
              .product-head Поделиться
              // предполагается вставка дефолтных виджетов от Битрикса вместо img
              img(src="images/social.png")
          .product-right
            .product-head Основные характеристики
            .product-block
              .product-line
                .product-desc Производитель:
                .product-name FG Wilson
              .product-line
                .product-desc Модель:
                .product-name P14-6S
              .product-line
                .product-desc Страна производства:
                .product-name Великобритания
              .product-line
                .product-desc Полная мощность, кВА:
                .product-name 13,00
              .product-line
                .product-desc Активная мощность, кВт:
                .product-name 13,00
              .product-line
                .product-desc Число фаз:
                .product-name 3
            .product-head Расход топлива, л/ч
            .product-block
              .product-line
                .product-desc При нагрузке 100%, л/ч:
                .product-name 4,3
              .product-line
                .product-desc Емкость топливного бака, л:
                .product-name 66
            .product-head Габариты и масса
            .product-block
              .product-line
                .product-desc Длина, мм:
                .product-name 1500
              .product-line
                .product-desc Ширина, мм:
                .product-name 620
              .product-line
                .product-desc Высота, мм:
                .product-name 1115
              .product-line
                .product-desc Масса, кг:
                .product-name 434
            .product-head Тип исполнения
            .product-block
              a(href="#").link.inline Открытое
              a(href="#").link.inline В кожухе
              a(href="#").link.inline На шасси
              a(href="#").link.inline В контейнере
            .product-head Генератор
            .product-block
              .product-line
                .product-desc Производитель альтернатора:
                .product-name Leroy Somer
              .product-line
                .product-desc Модель альтернатора:
                .product-name LLB1114L
            .product-head Двигатель
            .product-block
              .product-line
                .product-desc Марка двигателя:
                .product-name Perkins
              .product-line
                .product-desc Модель двигателя:
                .product-name 404D-22G1
              .product-line
                .product-desc Рабочий объем, л:
                .product-name 2.2
              .product-line
                .product-desc Количество цилиндров и их расположение:
                .product-name 4 в ряд
              .product-line
                .product-desc Количество оборотов, об/мин:
                .product-name 1500
        h3.h3.gray.center Похожие товары
        +table(1)
        p.center.gray.no-mar полный каталог
          br
          a(href="#") Дизельные генераторы (Электростанции)
