extends layout

block content

  -
    var where = [
      'на строительных площадках;',
      'в сфере ЖКХ;',
      'в поселках;',
      'в домах и коттеджах;',
      'в торговых точках;',
      'на промышленных предприятиях;',
      'в административных зданиях;',
      'в медицинских учреждениях;',
      'в садовых товариществах.'
    ]

    var gens = [
      {
        name: 'В машинном зале',
        img: 'gen-4',
        desc: 'Допустимо использование только в закрытом помещении. Нет необходимости в строительстве ' +
        'специальной котельной или теплового пункта. Позволяют экономить на электроэнергии.'
      },
      {
        name: 'В контейнере',
        img: 'gen-5',
        desc: 'При необходимости можно переместить электростанцию на новую площадку. Контейнер ' +
        'создает оптимальные условия для функционирования электростанции в сложных условиях.'
      },
      {
        name: 'В кожухе',
        img: 'gen-6',
        desc: 'Используется как в помещении, так и на открытом воздухе. Кожух защищает от ' +
        'пыли и механического воздействия. Отличается компактными размерами и легким вводом в эксплуатацию.'
      }
    ]

  include mixins/header
  include mixins/breadcrumbs

  +header(false)

  main.main
    .detail
      .wrapper
        +breadcrumbs('Главная', 'Оборудование', 'Мини-ТЭС')
        h1.h1.blue Мини-ТЭС
        .two
          .col
            include includes/sidebar
          .col
            .wrapper-detail
              p
                b Ваше предприятие нуждается в непрерывной подаче электроэнергии и тепла?
                br
                b  Не знаете, как оптимально организовать доступ к электричеству, отоплению и водоснабжению?
                br
                b  Хотите снизить стоимость киловатта электроэнергии?
              .img-right
                img(src="images/left-1.png")
                | Компания «ГенМастер» предлагает оптимальное решение ваших проблем – мини
                | ТЭС на базе газопоршневых электростанций. Они представляют собой автономные
                | источники энергии малой мощности. Их основная функция заключается в подаче
                | электроэнергии, горячей воды, пара для отопления и холода для систем кондиционирования.<br><br>
                | <b>Газопоршневые электростанции</b> и генераторы используют:
              ul
                each item in where
                  li=item
            p.
              Электростанции такого типа надежно функционируют даже при отрицательных температурах
              и в условиях сильной запылённости. У нас вы можете заказать газопоршневые
              электростанции и генераторы в 3 вариантах исполнения.
            .swiper-container.gens.js-header-bottom
              .swiper-wrapper
                each item in gens
                  .swiper-slide
                    .gen-title=item.name
                    .gen-img
                      img(src='images/' + item.img + '.png')
                    .gen-desc=item.desc
